
@font-face {
  font-family: "Synonym";
  src: url(Synonym-Variable.ttf);
}

body {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "Synonym";
    
   
  }



.head-container {
    font-size: 20px;
    color: beige;
    font-family: 'Synonym';
     
}
 

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
 
 

}


.navbar ul {
  display: flex;
  gap: 45px;
  font-size: larger;
 
}

 
.head-container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
  
  
  
}
 

.navbar a{
  color: beige;
  text-decoration: none;
  
}

nav ul li a:hover {
  color: #E3735E;
}





.hero-section {

    margin-left: 193px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    

  }



.hero-slogan h2 {
   font-size: 45px;
    width: 500px;
    color: beige;
    margin-top: 70px;
    margin-bottom: 0px;
    
    


   }



.hero-slogan p {

    display: flex;
    flex-wrap: wrap;
    width: 400px;
    font-size: 25px;
    color: beige;
    
    
    
}


.hero-placeholder img {
  margin-right: 193px;
  padding-top: 70px;
  width: 900px;
  height: 360px;
  object-fit: cover;
  


}

 button{
  background: beige;
  font-size: 20px;
  border-style: none;
  width: 150px;
  height: 40px;
  color:black;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  
  
 }

 button:hover {
  color: beige;
  background-color: #E3735E;
 }


.header2 {
  background-color: #ded8d3;
  font-size: 36px;
  font-weight: 900;
  color: black;
  text-align: center;
  margin-top: 110px;
  padding-top: 80px;
  padding-bottom: 80px;
  
}

.mid-section  {
 display: flex;
 justify-content: center;
 gap: 32px;
 background-color: #ded8d3;
 padding-bottom: 220px;
 
}



.mid-section img {
    max-width: 280px;
    max-height: 190px;
    border-radius: 20px;
    object-fit: cover;

    
  }


  .secondmid-section {
    background-color: #918c86;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    
  }

  .text {
    padding-top: 9px;
    
  }

  .quote {
    font-size: 35px;
    font-style: italic;
    flex-wrap: wrap;
    width: 1000px;

  }

  .author {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 200px;
    margin-right: 75px;
  }