
body {
   
    margin: 0;
    padding: 0;
    background: black;
    
    
  }



.container {
    font-size: 20px;
    color: beige;
    font-family: 'Synonym';
    
  
}
 

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
 

}


.navbar ul {
  display: flex;
  gap: 25px;
 
}

 
.container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
  
  
  
}
 

.navbar a{
  color: beige;
  text-decoration: none;
  
}

nav ul li a:hover {
  color: rosybrown;
}



.head {
  
}



.slogan  {
    margin-left: 143px;
    display: flex;
    flex-direction: column;
    

  }



  .slogan h2 {
    width: 300px;
    color: beige;
    


   }



  .slogan p
{
    
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    font-size: 25px;
    color: beige;
    
    
}

